<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edges">
    <meta name="description" content="Workshop on Ethical Robotic Systems">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@justinsvegliato">
    <meta name="twitter:creator" content="@justinsvegliato">
    <meta name="twitter:title" content="IROS 2021 Workshop on Building and Evaluating Ethical Robotic Systems">
    <meta name="twitter:description" content="This workshop will bring together researchers from academia and industry to discuss key challenges, learn from real-world case studies, identify potential research avenues, explore recent technical advances, present novel data sets, and survey existing work related to ethical robotic systems.">
    <meta name="twitter:image" content="https://ers-workshop.com/img/twitter-card.png">
    
    <title>ERS 2021</title>
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.1/css/all.css" integrity="sha384-wxqG4glGB3nlqX0bi23nmgwCSjWIW13BdLUEYC4VIMehfbcro/ATkyDsF/AbIOVe" crossorigin="anonymous">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.min.css">
    <link rel="stylesheet" href="css/main.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  </head>
  
  <body>
    <div id="banner" class="mdl-layout">
      <header class="mdl-layout__header mdl-layout__header--transparent">
        <div class="mdl-layout__header-row">
          <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="#about">Overview</a>
            <a class="mdl-navigation__link" href="#submissions">Submissions</a>
            <a class="mdl-navigation__link" href="#best-paper-award">Best Paper Award</a>
            <a class="mdl-navigation__link" href="#dates">Important Dates</a>
            <a class="mdl-navigation__link" href="#invited-speakers">Invited Speakers</a>
            <a class="mdl-navigation__link" href="#program-committee">Program Committee</a>
            <a class="mdl-navigation__link" href="#organizers">Organizers</a>
          </nav>
        </div>
      </header>

      <div id="logo">Building and Evaluating Ethical Robotic Systems</div>
      <div id="slogan">IROS 2021 Workshop &#8226; October 1, 2021 &#8226; 16:00 - 18:00 CEST</div>
      <div id="controls"><a href="https://easychair.org/conferences/?conf=ers2021"><button class="mdl-button">SUBMIT</button></a></div>
    </div>

    {{#> content-block}}
    {{/content-block}}

    <footer class="mdl-mega-footer">
        <h2 id="sponsor-title">SPONSORS</h2>
        <div id="sponsors">
          <a href="https://humancompatible.ai/"><img id="chai-logo" src="img/chai-logo.png"/></a>
          <a href="https://existence.org/"><img id="beri-logo" src="img/beri-logo.jpg"/></a>
        </div>
    </footer>
  </body>
</html>